{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock title %}


{% block content %}
<center class="mt-5">
    <div class="col-4 p-5 rounded shadow-lg ">
    <form  method="post">
        {% csrf_token %}
        <h2 class="text-center">Admin Login</h2>
        <hr>
        <div class="form-group mb-4">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
        </div>
        <div class="form-group mb-4">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group mb-4">
            <input type="submit" class="btn btn-primary w-100" value="Log IN">
        </div>
        
    </form>
</div>
</center>
{% endblock content %}